.dashboard {
  height: 100%;
  width: 100%;
  max-height: calc(100% - 80px);
  padding: 10px;
  overflow-y: scroll;

  @media (max-width: 1024px) {
    // grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    // grid-template-columns: repeat(1, 1fr);
  }
}
